[submodule "src/packages/aggspack"]
	path = src/packages/aggspack
	url = https://github.com/PiperProject/aggspack.git
	ignore = dirty
[submodule "src/packages/simpleJoin"]
	path = src/packages/simpleJoin
	url = https://github.com/PiperProject/simpleJoin.git
	ignore = dirty
[submodule "src/packages/yprov"]
	path = src/packages/yprov
	url = https://github.com/PiperProject/yprov.git
	ignore = dirty
[submodule "src/packages/quest"]
	path = src/packages/quest
	url = https://github.com/PiperProject/quest.git
	ignore = dirty
[submodule "src/packages/bdsm"]
	path = src/packages/bdsm
	url = https://github.com/PiperProject/bdsm.git
	ignore = dirty
